/* Custom CSS */
img{
	max-width: 100%;
	max-height: 100%;
}
.clear{
	clear: both;
}
.header-top{
	padding: 0 0 20px 0;
}
.logo h2{
	margin-bottom: 5px;
}
.logo h4{
	margin-bottom: 5px;
	color: #2B7A78;
}
.mobile-header h2{
	margin-bottom: 0;
	margin-top: 10px;
}
.mobile-header h4{
	color: #2B7A78;
}
/*.home-banner {
	background-image: url("../img/bg.jpg");
	background-position: center top;
	background-size: 115%;
	height: 500px;
	position: relative;
}*/
.home-banner {
    background-image: url("../img/banner_bg.jpg");
    background-position: center;
    height: 500px;
    position: relative;
}
.home-banner .container{
	text-align: right;
}
.home-banner h1{
	color: #fff;
}
.home-banner p{
	float: right;
	color: #3AAFA9;
}
.home-banner .appointment_link{
	float: right;
	clear: both;
}
.preloader{ 
	position:fixed;
	left:0px; 
	top:0px; 
	width:100%; 
	height:100%; 
	z-index:999999; 
	background-color:#ffffff; 
	background-position:center center; 
	background-repeat:no-repeat; 
	background-image:url(../img/dr_srinivas_loader.gif);
}
/*.home-banner h1, .home-banner p{
	color: #fff;
}
.home-banner::before{
	background: #000;
	position: absolute;
	top: 0;
	left: 0;
	content: "";
	opacity: 0.8;
	width: 100%;
	height: 100%;
}*/
.about_meet_text{
	font-size: 18px;
	display: block;
	color: #000;
	margin-bottom: 5px;
}
.about .see-all-btn{
	font-size: 15px;
	margin: 10px 0 0;
}
.about h2{
	color: #2B7A78;
	margin-bottom: 10px;
}
.about h5{
	margin-bottom: 25px;
}
.about-content{
	margin: 25px 0 0;
}
.section.about{
	background-color: #f9f9f8;
}
.blog-title-author{
	text-align: left;
	margin:0 0 10px 0;
	padding: 0 10px;
}
.blog-title-author span{
	font-style: italic;
}
.blog-text {
	text-align: left;
	padding: 10px 10px 20px 10px;
	margin: 0;
}
.section.blog_section .owl-carousel .owl-stage-outer{
}
/*.section.blog_section{
	color: #fff;
}
.section.blog_section .section-header .header-title{
	color: #fff;
}
.section.blog_section::before{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	content: "";
	opacity: .8;
	background: #000;
}
.section.blog_section {
	background-image: url("../img/Common Images/Banner (20).jpg");
	background-repeat: no-repeat;
	position: relative;
	background-size: 100%;
}*/
.section.blog_section .item{
	/*box-shadow: 0px 6px 15px 0px rgba(0, 0, 0, 0.1);*/
	border: 1px solid #ccc;
	margin-top: 10px;
}
.blog_author{
	margin-left: 5px;
}
.blog_date{
	margin-right: 5px;
}
.blog_date i {
	color: #2B7A78;
	font-size: 14px;
	margin-right: 4px;
}
.inner-banner{
	background: url("../img/blog-05.jpg") center no-repeat;
	background-size: 100%;
	min-height: 250px;
}
.inner-banner .page-title{
	position: absolute;
	left: 25%;
	top: 75px;
}
.inner-banner .page-title span{
	font-size: 34px;
}
.inner-content .line{
	margin: 0;
}
.section-header {
	margin-bottom: 20px;
}

/* Header Top Styles */
.top-header{
	position:relative;
	background-color:#3AAFA9;
	margin-bottom: 20px;
}
.top-header .top-left{
	position:relative;
	float:left;
	padding:18px 0px 18px;
}
.top-header .top-left .links{
	position:relative;
	float:left;
	padding: 0;
	margin: 0; 
}
.top-header .top-left .links li{
	position:relative;
	float:left;
	line-height:1em;
	color:#ffffff;
	margin-right:14px;
	padding-right:14px;
	border-right:1px solid rgba(255,255,255,0.70);
	list-style: none;
}
.top-header .top-left .links li:last-child{
	border-right:none;
	padding-right:0px;
	margin-right:0px;
}
.top-header .top-left .links li a{
	position:relative;
	color:#ffffff;
	font-size:14px;
	font-weight:400;
	line-height:1em;
	-moz-transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
	font-family: 'Poppins', sans-serif;
}
.top-header .top-left .links li a:hover{
	color:#000;
}
.top-header .top-right{
	position:relative;
	float:right;
	padding:12px 0px;
}
.top-header .top-right .login-register{
	position:relative;
	margin-left:15px;
	color:#ffffff;
	font-size:15px;
	line-height:1.2em;
	display:inline-block;
}
.top-header.style-two .top-right .login-register{
	border-right:1px solid rgba(255,255,255,0.70);
	margin-right:15px;
	padding-right:18px;
	border-left:none;
}
/*.top-header .top-right .login-register a{
	position:relative;
	color:#ffffff;
	-webkit-transition:all 300ms ease;
	-ms-transition:all 300ms ease;
	-o-transition:all 300ms ease;
	-moz-transition:all 300ms ease;
	transition:all 300ms ease;	
	font-family: 'Poppins', sans-serif;	
}*/
.top-header .top-right .login-register a{
	background: #2B7A78;
	padding: 7px 15px;
	color: #ffffff;
	-webkit-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	transition: all 300ms ease;	
	font-family: 'Poppins', sans-serif;	
}

.top-header .top-right .login-register a:hover{
	color: #000000;
}
.top-header.style-two{
	background-color:#303132;
}

.inner-content h5{
	color: #3AAFA9;
	margin: 0 0 5px;
}
.inner-content p{
	margin: 0 0 20px;
	text-align: justify;
}
/*.dept-img{
	display: none;
}*/
.pace .dept-img a{
	background: url("https://image.shutterstock.com/z/stock-photo-pacemaker-307066787.jpg") no-repeat center 0;
	background-size: 145%;
}
.iabp .dept-img a{
	background: url("https://image.shutterstock.com/z/stock-photo-ekg-monitor-in-intra-aortic-balloon-pump-machine-in-icu-on-blur-background-brain-waves-in-1075878368.jpg") no-repeat center 0;
	background-size: 150%;
}
.cath .dept-img a{
	background: url("https://via.placeholder.com/100x100") no-repeat center;
	background-size: 100%;
}
.oct .dept-img a{
	background: url("https://via.placeholder.com/100x100") no-repeat center;
	/*background: url("https://image.shutterstock.com/z/stock-photo-optical-coherence-tomography-oct-image-of-eye-in-the-patient-418835149.jpg") no-repeat center;*/
	background-size: 145%;
}
.ffr .dept-img a{
	background: url("https://via.placeholder.com/100x100") no-repeat center;
	background-size: 145%;
}
.coronary .dept-img a{
	background: url("https://image.shutterstock.com/z/stock-photo-coronary-angiography-left-coronary-angiography-1109742584.jpg") no-repeat center 0;
	background-size: 150%;
}
.about-content-image{
	float: right;
	margin: 0 0 15px 15px;
}
.dr-profile-sidebar{
	margin-bottom: 20px;
	border: 1px dashed #ccc;
	padding: 15px;
}
.sidebar-dr-image{
	padding: 0;
}
.sidebar-dr-content {
	padding-right: 0;
}
.sidebar-dr-content p{
	line-height: 16px;
	font-size: 13px;
}
.sidebar-dr-content .view-profile a, .sidebar-services .view-all a{
	background: #f9f9f8;
	font-size: 12px;
	padding: 5px 12px;
	float: right;
}
.sidebar-services .view-all a{
	font-size: 15px;
	padding: 7px 15px;
}
.sidebar-dr-content .view-profile a:hover, .sidebar-services .view-all a:hover{
	background: #2B7A78;
	color: #fff;
}
.sidebar-dr-content .qualification {
	display: block;
	font-size: 11px;
	margin: 5px 0 0;
	color: #666;
}

/* Video Section */
.bg-video {
	background-image: url(../img/inner-banner3.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	color: #fff;
}
.bg-video h3{
	color: #fff;
}
.bg-video .video_presentation_play {
	border: 3px solid #3AAFA9;
	display: inline-block;
	border-radius: 50%;
	padding: 7px;
	line-height: 0;
}
.bg-video .video_presentation_play .presentation_icon {
	outline: none !important;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	background: #3AAFA9 url("../img/play.png") center no-repeat;
	display: inline-block;
	text-align: center;
	color: #fff !important;
	font-size: 35px;
	line-height: 65px;
	transition: all 0.5s;
	background-size: 25px;
}
.bg-video .video_presentation_play .presentation_icon:hover {
	background-color: #fff;
	color: #3AAFA9 !important; 
	background: #fff url("../img/play-hover.png") center no-repeat;
	background-size: 25px;
}
.bg-overlay {
	background: rgba(31, 33, 37, 0.92);
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.section_title .section_title_border .s-border {
	width: 25px;
	display: inline-block;
	height: 3px;
	background-color: #fff;
}
.section_title .section_title_border .f-border {
	width: 4px;
	display: inline-block;
	height: 3px;
	background-color: #fff;
}
.section_title .section_title_border .f-border {
	width: 4px;
	display: inline-block;
	height: 3px;
	background-color: #fff;
}
.section_title .sec_subtitle {
	margin: 30px auto;
	max-width: 500px;
	line-height: 1.8;
}

/* Video Styles */
.video-target {
    cursor: pointer;
}

.video-wrapper {
    display: none;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #000;
    z-index: 21000;
}

.video-frame {
    position: absolute;
    top: 50%;
    left: 50%;
}

.video-close{
    float:right;
    margin-top:-30px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
}

.video-close:before {
    content: "Ã—";
}

.publications-list{
	margin-bottom: 30px;
	padding-left: 20px;
}
.publications-list li{
	margin-bottom: 10px;
	border-bottom: 1px dashed #ccc;
}
.publications-list li p{
	margin: 0;
}
.publications-list li span{
	display: block;
	font-style: italic;
	font-weight: bold;
	clear: both;
	text-align: right;
}

.blog-content h4{
	margin-bottom: 15px;
}

.numbers{
	background-color: #2B7A78;
	position: relative;
	color: #fff;
	padding: 50px 0;
}
.numbers h3, .numbers h5{
	color: #fff;
}
.numbers h3 {
	font-size: 45px;
	font-weight: 700;
	margin-bottom: 20px;
}
.numbers h5 {
	font-weight: 300;
}
/*.numbers:before{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .7;
	top: 0;
	left: 0;
	content: "";
}*/
.inner-content h5.company-name{
	border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
}
.no-padding{
	padding: 0;
}

aside .account-box{
	width: 100%;
	clear: both;
	margin-bottom: 20px;
	padding: 0;
}
aside .account-box .appointment{
	padding: 30px; 
}
aside .account-box h5 {
	padding: 15px 0;
	background: #2B7A78;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
}

/*List Style Two*/

.list-style-two{
	position:relative;
	padding: 0;
}

.list-style-two li{
	position:relative;
	line-height:1.6em;
	padding-left:60px;
	margin-bottom:20px;
	list-style-type: none;
}

.list-style-two li strong{
	position:relative;
	display:block;
	color:#242424;
	font-size:18px;
	font-weight:600;
	margin-bottom:5px;
}

.list-style-two li .icon{
	position:absolute;
	content:'';
	left:0px;
	top:0px;
	line-height:1em;
	font-size:36px;
	color:#242424;
}

.list-style-two.style-two li .icon{
	color:#3AAFA9;
}

.map-frame{
	margin-bottom: 30px;
}

.info-column .text {
    line-height: 1.7em;
    margin-bottom: 25px;
}

/*Default Form*/

.contact-form .form-group{
    margin-bottom: 20px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="password"],
.contact-form select,
.contact-form textarea{
	display:block;
	width:100%;
	height:54px;
	font-size:15px;
	color:#999999;
	line-height:30px;
	padding:12px 20px;
	font-weight:400;
	background:#f8f8f8;
	border:1px solid #e9e9e9;
	transition:all 500ms ease;
	-webkit-transition:all 500ms ease;
	-ms-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	font-family: 'Poppins', sans-serif;
}

.contact-form textarea{
	height:200px;
	resize:none;
}

.contact-form input.error,
.contact-form select.error,
.contact-form textarea.error{
	border-color:#ff0000;	
}

.contact-form label.error{
	display:block;
	line-height:24px;
	padding-top:5px;
	font-size:13px;
	text-transform:capitalize;
	color:#ff0000;
	font-weight:500;
}

.contact-form .form-group .theme-btn{
	font-weight:400;
	font-size:16px;
	margin-top:10px;
	padding:10px 34px;
	background-color: #3AAFA9;
	color: #fff;
	border: none;
}

.contact-form .form-group .theme-btn:hover{
	background-color: #2B7A78;
}

.account-box .cal-icon:after {
	background: transparent url("../img/calander.png") no-repeat scroll 0 0;
	bottom: 0;
	content: "";
	display: block;
	height: 20px;
	margin: 0;
	position: absolute;
	right: 12px;
	top: 9px;
	width: 20px;
}

.blog-content h4{
	color: #3AAFA9;
}
.blog-content ul{
	margin-bottom: 25px;
}

@media screen and (max-width:639px){
	.about-content {
		clear: both;
		float: left;
		text-align: center;
	}
	.about-image{
		float: none;
		margin: 0 auto;
	}
	.home-banner {
		background-size: auto 100%;
		background-position: right;
		height: 360px;
	}
	.inner-banner{
		min-height: 109px;
		padding: 0;
	}
	.blog-title-author, .blog-text{
		text-align: center;
	}
	.sidebar-dr-image {
		margin: 0 auto 12px;
		width: 50%;
	}
	.video-frame{
		width: 90% !important;
		margin-left:-45% !important;
		height: auto !important;
		margin-top: -30% !important;
		top: 50% !important;
	}
	.video{
		width: 100%;
	}
	.video-frame embed{
		width: 100%;
		height: auto;
	}
	.sidebar-services .view-all a{
		font-size: 12px;
	}
	.numbers{
		padding: 30px 0;
	}
	.numbers h3{
		margin-bottom: 10px;
		font-size: 25px;
	}
	.numbers h5{
		margin-bottom: 20px;
	}
	.service-img{
		width: 250px;
		margin: 0 auto 10px;
	}
	.inner-content h5{
		font-size: 14px;
		line-height: 20px;
	}
	.quicklinks{
		display: none;
	}
	.footer-top{
		padding: 30px 0 0;
	}
	aside .account-box h5 {
		font-size: 15px;
		padding: 10px 0;
	}
	.home-banner .container{
		text-align: center;
	}
	.home-banner .appointment_link{
		margin: 0 auto;
		float: none;
	}

	.top-header{
		margin-top: 40px;
	}
	.top-header .top-left{
		float: none;
		text-align: center;
		padding: 12px 0px;
	}
	.top-header .top-left .links li {
		float: none;
		padding: 0;
		margin: 0 0 10px;
		border: none;
	}
	.top-header .top-right{
		float: none;
		margin: 0 auto;
	}
	.top-header .top-right .login-register{
		margin: 0
	}
	.top-header .top-left .links{
		float: none;
	}
	.main-content{
		padding-top: 0;
	}
	.header-top {
		padding: 20px 0 0;
	}
	.top-header .top-right .login-register{
		width: 200px;
		float: none;
		margin: 0 auto 9px;
		display: inherit;
	}
}
.error-message{
    color: #E14444;
}

.error-style{
    border: 1px solid #a94442 !important;
}