/*
Author       : Dreamguys
Template Name: Medifab - Health & Medical HTML Template
Version      : 1.0
*/

/*============================
 [Table of CSS]

1. General
2. Header
3. Footer
4. Login
5. Book Appointment
6. Department
7. Testimonials
8. Mobile Menu
9. Mobile Design
10. About Us
11. Doctor
12. Doctor View
13. Blog
14. Blog View
15. Grid Blog
16. Services
17. Service Details
18. Contact Us
19. 404 Error 
20. Responsive
	
========================================*/

/*-----------------
	1. General
-----------------------*/

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700');
body {
	color: #666;
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	overflow-x:hidden;
}
a {
	color: #666;
}
a:hover,
a:focus {
	color: #3AAFA9;
	outline: none;
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Poppins", sans-serif;
	color: #333;
	font-weight: 500;
	margin: 0 0 12px;
}
input[type=text],
input[type=email],
input[type=password] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.m-b-0 {
	margin-bottom: 0 !important;
}
.m-b-20 {
	margin-bottom: 20px !important;
}
.m-b-30 {
	margin-bottom: 30px !important;
}
.m-t-0 {
	margin-top: 0 !important;
}
.btn-primary {
	background-color: #3AAFA9;
	border-color: #3AAFA9;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background-color: #2B7A78;
	border-color: #2B7A78;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
	background-color: #2B7A78;
	border-color: #2B7A78;
}

/*-----------------
	2. Header
-----------------------*/

.header {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 10;
}
.header-top {
	padding: 10px 0 0;
}
.logo img {
	width: auto;
	height: 50px;
}
.main-nav.nav > li > a {
	color: #333;
	cursor: pointer;
	font-size: 14px;
	padding: 10px;
	border-radius: 3px;
}
/*.main-nav.nav .open > a,
.main-nav.nav .open > a:focus,
.nav .open > a:hover,
.main-nav.nav > li > a:focus,
.nav > li > a:hover {
	background-color: #3AAFA9;
	color: #fff;
}*/
.main-nav.nav .open > a, .main-nav.nav .open > a:focus, .nav .open > a:hover, .main-nav.nav > li > a:focus, .nav > li > a:hover {
	background: none;
	color: #3AAFA9;
	border-bottom: 2px solid #3AAFA9;
}
.main-nav .dropdown-menu {
	border-top: 0;
}
.main-nav .dropdown-menu > li {
	display: block;
}
.main-nav .dropdown-menu > li > a {
	padding: 5px 20px;
}
.main-nav .dropdown-menu > li > a:focus,
.main-nav .dropdown-menu > li > a:hover {
	background-color: #3AAFA9;
	color: #fff;
	text-decoration: none;
}
.main-nav .dropdown-menu > .active > a,
.main-nav .dropdown-menu > .active > a:focus,
.main-nav .dropdown-menu > .active > a:hover {
	background-color: #3AAFA9;
	color: #fff;
}
.main-nav > li {
	margin-right: 5px;
	padding: 5px 0 15px;
}
.main-nav > li:last-child {
	margin-right: 0;
}
.main-nav > li > a {
	padding: 10px 14px;
}
.main-nav > li.active > a {
	background-color: #3AAFA9;
	color: #fff;
}
.main-nav > li > a.appoint-btn {
	background-color: transparent;
	border: 1px solid #3AAFA9;
	color: #3AAFA9;
	font-size: 13px;
	padding: 9px 14px;
}
.main-nav > li > a.settings-icon {
	font-size: 30px;
	padding: 5px 14px;
	color: #3AAFA9;
}
.section {
	padding: 80px 0;
}
.home-banner {
    background-image: url("../img/bg.jpg");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    position: relative;
}
.home-banner h1 {
	color: #323232;
	font-size: 50px;
	font-weight: 700;
	margin: 0 0 20px;
}
.home-banner h1 > span {
	color: #3AAFA9;
}
.home-banner p {
    color: #323232;
    font-size: 16px;
    margin-bottom: 40px;
    max-width: 600px;
}
.row-middle {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}
.inner-bg {
	background-color: rgba(1, 181, 199, 0.2);
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.consult-btn,
.see-all-btn,
.load-more {
    font-size: 18px;
    padding: 10px 32px;
	border-radius:0px;
}
.section-header {
	margin-bottom: 60px;
}
.section-header .header-title {
    color: #333;
    font-size: 30px;
    margin-bottom: 20px;
}
.line {
    background-color: #3AAFA9;
    height: 2px;
    margin: 0 auto 20px;
    width: 60px;
}
.company-name {
	color: #333;
	font-size: 16px;
	margin: 0 0 20px;
	text-transform: uppercase;
}
.section-header p {
	max-width: 68%;
	margin: 0px auto 40px;
}
.feature-box {
    padding: 0 10px;
    text-align: center;
}
.feature-img {
	margin-bottom: 30px;
}
.feature-box h4 {
    font-size: 18px;
    margin: 0 0 15px;
}
.feature-box p {
	margin: 0;
}
.meet-doctors {
	background-color: #f9f9f8;
	padding: 80px 0;
}
.doctor {
	position: relative;
	width: 100%
}
.doctor > a {
	display: inline-block;
}
.meet-doctors .owl-theme .owl-controls {
	margin-bottom: 60px;
}
.see-all {
	text-align: center;
}
.see-all-btn {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
	color: #777;
}
.social-icons {
	list-style: none;
	margin: 0;
	padding: 0;
}
.social-icons > li {
	display: inline-block;
	float: left;
	margin-right: 10px;
	text-align: center;
}
.social-icons > li:last-child {
	margin-right: 0;
}
.social-icons > li > a {
	border: 1px solid #e7e7e7;
	color: #666;
	display: inline-block;
	font-size: 22px;
	height: 40px;
	line-height: 40px;
	width: 40px;
}
.social-icons > li > a:hover {
	border-color: #3AAFA9;
	color: #3AAFA9;
}

/*-----------------
	3. Footer
-----------------------*/

.footer {
	background-color: #fff;
	border-top: 1px solid #eaeaea;
}
.footer-top {
	padding: 50px 0;
}
.footer-title {
	color: #333;
	margin-bottom: 15px;
	margin-top: 0;
}
.footer-menu {
	list-style: none;
	margin: 0;
	padding: 0;
}
.footer-menu > li > a {
	color: #666;
	font-size: 13px;
}
.footer-menu > li > a:hover {
	color: #2B7A78;
}
.footer-widget a {
	color: #666;
}
.about-clinic {
	color: #666;
}
.about-clinic > p {
	font-size: 13px;
}
.appointment-btn p {
	color: #666;
	font-size: 13px;
}
.copyright {
	border-top: 1px solid #eaeaea;
	padding: 20px 0;
}
.copy-text > p {
	color: #666;
	font-size: 14px;
	margin: 0;
}
.copy-text a {
	color: #333;
}

/*-----------------
	4. Login
-----------------------*/

.page-header {
	border-bottom: 0;
	margin: 0;
	background-color: #f6f6f6;
	padding: 20px 0;
}
.page-header .page-title span {
	color: #333;
	font-size: 20px;
}
.content {
	padding: 80px 0;
}
.contact-cont {
	margin: 25px 0 0;
}
.account-content {
	background-color: #fafafa;
	min-height: 428px;
}
.account-box {
	background-color: #fff;
	border: 1px solid #eaeaea;
	margin: 0 auto;
	padding: 30px;
	width: 450px;
}
.account-box .form-control {
	border: 1px solid #eaeaea;
	border-radius: 0;
	box-shadow: inherit;
	font-size: 14px;
	height: 40px;
}
.account-box textarea.form-control {
	height: 130px;
}
.account-box label {
	color: #323232;
	font-size: 14px;
	font-weight: normal;
}
.account-box .form-group {
	margin-bottom: 20px;
}
.account-box .account-btn {
	border-radius: 50px;
	font-size: 16px;
	min-width: 150px;
	padding: 8px 30px;
	text-transform: uppercase;
}
.account-box a {
	color: #333;
	font-size: 14px;
}
.account-box a:hover {
	color: #3AAFA9;
}
.forgot-link {
	margin-bottom: 20px;
}
.account-title {
	margin-bottom: 30px;
}
.account-title h3 {
	color: #282628;
	font-size: 20px;
	font-weight: normal;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
}

/*-----------------
	5. Book Appointment
-----------------------*/

.tab-content {
	padding: 20px 0 0;
}
.appointment .nav-tabs > li > a {
	background-color: #8a8a8a;
	border: 0 none;
	border-radius: 0;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3) inset;
	color: #d0d0d0;
}
.appointment .nav-tabs > li > a:focus,
.appointment .nav-tabs > li > a:hover {
	background-color: #8a8a8a;
	color: #fff;
	border: 0 none;
}
.appointment .nav-tabs > li.active > a,
.appointment .nav-tabs > li.active > a:focus,
.appointment .nav-tabs > li.active > a:hover {
	background-color: #3AAFA9;
	color: #fff;
	border: 0 none;
	box-shadow: none;
}
.appointment .nav-tabs > li > a span {
	display: inline-block;
	font-size: 16px;
	text-align: left;
}
.appointment .nav-tabs > li > a i {
	font-size: 28px;
	margin-right: 10px;
	position: relative;
	top: -10px;
}
.appoint-time {
	list-style: none;
	margin: 0;
	padding: 0;
}
.appoint-time > li {
	background-color: #f2f2f2;
	float: left;
	margin-bottom: 20px;
	width: 50%;
}
.appoint-time > li {
	background-color: #f2f2f2;
	color: #323232;
	cursor: pointer;
	float: left;
	font-size: 14px;
	margin-bottom: 20px;
	min-height: 50px;
	padding: 14px 15px;
	text-align: center;
	width: 194px;
}
.appoint-time > li:nth-child(2n) {
	float: right;
}
.btn-grey {
	background-color: #5d5d5d;
	border-color: #5d5d5d;
}
.account-box .more-btn {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
	color: #777;
	font-size: 14px;
}
.appoint-time > li.selected,
.appoint-time > li:hover {
	background-color: #3AAFA9;
	color: #fff;
}
.account-box .cal-icon {
	position: relative;
}
.account-box .cal-icon .form-control {
	padding-right: 60px;
}
.account-box .cal-icon:after {
	background: transparent url("../img/calander.png") no-repeat scroll 0 0;
	bottom: 0;
	content: "";
	display: block;
	height: 20px;
	margin: auto;
	position: absolute;
	right: 12px;
	top: 0;
	width: 20px;
}
.appointment .select2-container .select2-selection--single {
	border: 1px solid #eaeaea;
	height: 40px;
	border-radius: 0;
}
.appointment .select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 38px;
	right: 7px;
}
.appointment .select2-container--default .select2-selection--single .select2-selection__arrow b {
	border-color: #eaeaea transparent transparent;
	border-style: solid;
	border-width: 6px 6px 0;
	height: 0;
	left: 50%;
	margin-left: -10px;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	width: 0;
}
.appointment .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
	border-color: transparent transparent #eaeaea;
	border-width: 0 6px 6px;
}
.appointment .select2-container .select2-selection--single .select2-selection__rendered {
	padding-right: 30px;
	padding-left: 15px;
}
.appointment .select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 38px;
	color: #323232;
	font-size: 14px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background-color: #3AAFA9;
}

/*-----------------
	6. Department
-----------------------*/

.dept-box {
	margin-bottom: 60px;
	text-align: center;
	padding: 0 10px;
}
.dept-img > a {
    border: 1px solid #eee;
    border-radius: 100%;
    display: inline-block;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100px;
}
.dept-img img {
    height: 50px;
    width: auto;
}
.dept-img {
	margin-bottom: 30px;
}
.dept-box h4 {
	color: #333;
	margin: 0 0 15px;
}
.dept-box > p {
	margin-bottom: 0;
}

/*-----------------
	7. Testimonials
-----------------------*/

#testimonial_slider.owl-carousel .owl-item img {
	border-radius: 50%;
	display: inline-block;
	width: 100px;
}
.testimonials {
	background-color: #f9f9f8;
}
.testimonial-list > h3 {
	color: #666;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 25px auto;
	max-width: 600px;
}
.testimonial-list > p {
	font-size: 16px;
	margin-bottom: 0;
}
.testi-user {
    color: #333;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}
.owl-theme .owl-dots .owl-dot.active span,
#testimonial_slider.owl-theme .owl-dots .owl-dot:hover span {
	background: #3AAFA9;
}
.owl-theme .owl-dots .owl-dot span {
	background: #ccc;
	margin: 0 5px;
}
.doctors-name {
    font-size: 14px;
    font-weight: 500;
    margin-top: 25px;
}
.doctors-position {
    color: #898989;
    font-size: 13px;
    line-height: 20px;
}
.owl-theme .owl-controls {
	margin-top: 30px;
}
.testimonials .owl-theme .owl-controls {
	line-height: 0;
}
.testimonial-img {
	margin-bottom: 30px;
}
.testimonial-text {
    margin-bottom: 30px;
}
.testimonial-text p {
    margin-bottom: 0;
}

/*-----------------
	8. Mobile Menu
-----------------------*/

.mobile-menu-toggle {
	display: block;
	background-color: #3AAFA9;
	vertical-align: middle;
	color: #fff;
	padding: 0 20px;
}
.mobile-menu-toggle .mobile-menu-left-side {
	float: left;
}
.mobile-menu-toggle .mobile-menu-right-side {
	float: right;
}
.mobile-menu-toggle i {
	color: #fff;
	display: inline-block;
	font-size: 20px;
	line-height: 60px;
	vertical-align: middle;
}
.mobile-menu-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	text-align: left;
	width: 100%;
	color: #b2babf;
	background-color: #fff;
	z-index: 99;
	margin-bottom: 0;
	padding: 0;
}
.mobile-menu-wrapper li {
	display: block;
	line-height: 30px;
	text-align: left;
}
.mobile-menu-wrapper li a {
	display: block;
	float: left;
	width: 100%;
	color: #333;
}
.mobile-menu-wrapper li a.active {
	color: #3AAFA9;
}
.mobile-menu-wrapper li.active .mobile-menu-item > a {
	color: #3AAFA9;
}
.mobile-menu-wrapper li a:hover {
	color: #3AAFA9;
}
.mobile-menu-wrapper li i {
    border: 1px solid #ccc;
    color: #b2babf;
    display: block;
    float: right;
    font-size: 10px;
    line-height: 30px;
    padding: 0 10px;
}
.mobile-submenu-wrapper {
	position: relative;
	display: block;
	width: 100%;
}
.mobile-submenu-wrapper li {
	margin: 0 0 0 20px;
	padding: 6px 0;
}
.mobile-submenu-wrapper li a {
	float: none;
}
.mobile-menu-item {
	padding: 6px 20px;
}
.mobile-user-img {
	border-radius: 50%;
	height: 32px;
	margin-right: 5px;
	width: 32px;
}
.sidebar-overlay {
	display: none;
	position: fixed;
	z-index: 90;
	height: 100%;
	left: 0;
	top: 60px;
	width: 100%;
	z-index: 1040;
	background-color: rgba(0, 0, 0, 0.6);
}
.sidebar-overlay.opened {
	display: block;
}
.sidebar-menu.opened {
	opacity: 1;
	-moz-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	margin-left: 0;
}
body.menu-opened {
	overflow: hidden;
	position: fixed;
}

/*-----------------
	9. Mobile Design
-----------------------*/

.sidebar {
	background-color: #fff;
	bottom: 0;
	left: 0;
	margin-top: 0;
	position: fixed;
	top: 60px;
	width: 280px;
	z-index: 9999;
	margin-left: -280px;
	display: none;
}
#close_menu {
	display: none;
}
.mobile-header {
	display: none;
	background-color: #fff;
	border-bottom: 1px solid #eee;
	height: 60px;
	margin: auto;
	position: fixed;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 99;
}
.panel-control-left {
	float: left;
	position: relative;
	z-index: 99;
}
.panel-control-left > a {
	color: #333;
	display: inline-block;
	font-size: 20px;
	height: 60px;
	line-height: 60px;
	padding: 0 15px;
}
.page_title {
	display: inline-block;
	height: 60px;
	left: 0;
	padding: 0 60px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 10;
}
.page_title img {
	display: inline-block;
	height: 40px;
	margin-top: 10px;
	width: auto;
}
#our_doctor .owl-prev,
#our_doctor .owl-next,
#testimonial_slider .owl-prev,
#testimonial_slider .owl-next {
	position: absolute;
	height: 36px;
	width: 36px;
	color: #333;
	font-size: 24px;
	text-align: center;
	filter: alpha(opacity=100);
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
#our_doctor .owl-prev,
#our_doctor .owl-next,
#testimonial_slider .owl-prev,
#testimonial_slider .owl-next {
	top: 50%;
	background: #fff;
	border-radius: 100%;
	border: 1px solid #d9dddf;
	line-height: 26px;
	margin: 0;
}
#our_doctor .owl-prev,
#testimonial_slider .owl-prev {
	left: 0;
}
#our_doctor .owl-next,
#testimonial_slider .owl-next {
	right: 0;
}
#our_doctor .owl-prev:hover,
#our_doctor .owl-next:hover,
#testimonial_slider .owl-prev:hover,
#testimonial_slider .owl-next:hover {
	color: #fff;
	background: #3AAFA9;
	border-color: #3AAFA9;
}
#our_doctor .item,
#testimonial_slider .item {
	width: 100%;
}
#our_doctor.owl-carousel .owl-item img {
	display: inline-block;
	height: 100px;
	width: 100px;
}
#our_doctor.owl-carousel,
#testimonial_slider.owl-carousel {
	padding: 0 40px;
}

/*-----------------
	10. About Us
-----------------------*/

.about-desc p {
	margin-bottom: 20px;
}
.our-mission {
	background-color: #f9f9f8;
	padding: 30px;
}
.about-det h4 {
	color: #333;
	margin: 0 0 15px;
}
.about-det p {
	margin-bottom: 0;
}

/*-----------------
	11. Doctor
-----------------------*/

.doctors-list {
	margin-bottom: 30px;
}
.doctor-list {
	overflow: hidden;
	padding-bottom: 140px;
	position: relative;
	z-index: 1;
	border: 1px solid #e6e6e6;
	margin-bottom: 30px;
}
.doctor-inner {
	overflow: hidden;
}
.doctor-inner img {
	-webkit-transition: -webkit-transform 0.8s;
	-moz-transition: -moz-transform 0.8s;
	-ms-transition: -ms-transform 0.8s;
	-o-transition: transform 0.8s;
	transition: transform 0.8s;
}
.doctor-details {
	bottom: 0;
	color: #999;
	height: 140px;
	overflow: hidden;
	padding: 20px 15px;
	position: absolute;
	text-align: center;
	-webkit-transition: height 0.4s ease 0s;
	-moz-transition: height 0.4s ease 0s;
	-ms-transition: height 0.4s ease 0s;
	-o-transition: height 0.4s ease 0s;
	transition: height 0.4s ease 0s;
	width: 100%;
}
.doctor-info {
	margin-bottom: 15px;
	position: relative;
}
.doctor-name {
    color: #333;
    display: block;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.depart {
	font-size: 14px;
}
.social-list {
	margin: 0;
	text-align: center;
	list-style: none;
	padding: 0
}
.social-list li {
	display: inline-block;
}
.social-list li a {
	border: 1px solid #e7e7e7;
	border-radius: 50px;
	color: #666;
	display: block;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
	margin: 0 1px;
	-moz-transition: all 0.2s ease-in-out 0s;
	-ms-transition: all 0.2s ease-in-out 0s;
	-o-transition: all 0.2s ease-in-out 0s;
	-webkit-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
	width: 34px;
}
.social-list li a.facebook:hover {
	background-color: #3b5998;
	border-color: #3b5998;
	color: #fff;
}
.social-list li a.twitter:hover {
	background-color: #55acee;
	border-color: #55acee;
	color: #fff;
}
.social-list li a.linkedin:hover {
	background-color: #007ab9;
	border-color: #007ab9;
	color: #fff;
}
.social-list li a.g-plus:hover {
	background-color: #dc4e41;
	border-color: #dc4e41;
	color: #fff;
}
.view-profie > a {
	background-color: #3AAFA9;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
}
.doctor-list:hover {
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.doctor-list:hover .view-profie > a {
	background-color: #2B7A78;
	border-color: #2B7A78;
}
.doctor-list:hover .view-profie {
	opacity: 1;
	-moz-transform: translateY(0px);
	-webkit-transform: translateY(0px);
	-o-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s ease 0s, opacity 0.1s ease 0s;
	-moz-transition: -moz-transform 0.4s ease 0s, opacity 0.1s ease 0s;
	-ms-transition: -ms-transform 0.4s ease 0s, opacity 0.1s ease 0s;
	-o-transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;
	transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;
}
.view-profie {
	backface-visibility: hidden;
	opacity: 0;
	-moz-transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-o-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s ease 0s, opacity 0.1s ease 0s;
	-moz-transition: -moz-transform 0.4s ease 0s, opacity 0.1s ease 0s;
	-ms-transition: -ms-transform 0.4s ease 0s, opacity 0.1s ease 0s;
	-o-transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;
	transition: transform 0.4s ease 0s, opacity 0.1s ease 0s;
	margin-top: 15px;
}
.doctor-list:hover .doctor-details {
	height: 188px;
	background-color: #fff;
}
.doctor-list:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.widget-title {
	color: #333;
	font-size: 18px;
	font-weight: normal;
	margin-bottom: 20px;
}
.load-more {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.03);
	color: #777;
}

/*-----------------
	12. Doctor View
-----------------------*/

.experience-box {
	position: relative;
}
.experience-list {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.experience-list > li {
	position: relative;
}
.experience-list > li:last-child .experience-content {
	margin-bottom: 0;
}
.experience-list > li .timeline-content {
	margin-bottom: 10px;
	color: #9e9e9e;
}
.experience-list > li:last-child .timeline-content {
	margin-bottom: 0;
}
.experience-list > li .timeline-content > h4 {
	color: #555;
	font-size: 15px;
	margin-bottom: 0;
}
.sub-title {
	color: #333;
	font-size: 22px;
	margin-bottom: 20px;
	margin-top: 0;
}
.about-doctor {
	margin-bottom: 30px;
}
.about-doctor > p {
	margin-bottom: 20px;
}
.about-doctor > p:last-child {
	margin-bottom: 0;
}
.experience-widget {
	margin-bottom: 30px;
}
.doctor-list.doctor-view {
	padding-bottom: 0;
	margin-bottom: 0;
}
.doctor-list.doctor-view .doctor-details {
	height: auto;
	position: relative;
}
.doctor-view.doctor-list:hover .doctor-details {
	height: auto;
}
.book-appointment > a {
	background-color: #2B7A78;
	border-radius: 4px;
	color: #fff;
	display: inline-block;
	margin-top: 20px;
	padding: 5px 10px;
}

/*-----------------
	13. Blog
-----------------------*/

.blog {
	position: relative;
    border-bottom: 1px solid #eaeaea;
	margin-bottom: 60px;
    padding-bottom: 60px;
}
.blog-image {
	overflow: hidden;
}
.blog-image,
.blog-image > a,
.blog-image img {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}
.blog-image img {
	-moz-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.blog-image a:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.blog-image {
	margin-bottom: 30px;
}
.blog-content {
	position: relative;
}
.blog-title {
	color: #000;
	font-size: 22px;
	margin: 0 0 10px;
}
.blog-title a {
	color: #333;
}
.blog-content p {
	color: #666;
	font-size: 14px;
	margin: 0 0 30px;
}
.read-more {
    display: inline-block;
    font-size: 14px;
    padding: 8px 20px;
}
.blog-info {
    color: #909090;
    font-size: 12px;
    margin-bottom: 30px;
}
.blog-info a {
	color: #909090;
}
.blog-info a:hover {
	color: #3AAFA9;
}
.blog-info i {
	color: #3AAFA9;
	font-size: 14px;
	margin-right: 5px;
}
.post-left {
	float: left;
}
.post-right {
	float: right;
}
.post-left ul {
	margin: 0;
	padding-left: 0;
	list-style: none;
	float: left;
}
.post-left ul li {
	float: left;
	margin-right: 20px;
}
.post-left ul li:last-child {
	margin-right: 0;
}
.blog-pagination {
    display: flex;
}
.blog-pagination .pagination {
	margin: 0;
}
.blog-pagination .pagination > li > a,
.blog-pagination .pagination > li > span {
	border-radius: 50%;
	margin: 0 3px;
	color: #666;
	font-size: 14px;
	min-width: 34px;
	text-align: center;
}
.blog-pagination .pagination > .active > a,
.blog-pagination .pagination > .active > a:focus,
.blog-pagination .pagination > .active > a:hover,
.blog-pagination .pagination > .active > span,
.blog-pagination .pagination > .active > span:focus,
.blog-pagination .pagination > .active > span:hover {
	background-color: #3AAFA9;
	border-color: #3AAFA9;
	color: #fff;
}
/*.video {
	position: relative;
	padding-bottom: 56%;
	height: 0;
	overflow: hidden;
}
.video iframe,
.video object,
.video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}*/
.widget {
	margin-bottom: 60px;
}
.widget h5 {
	color: #333;
	font-size: 20px;
	font-weight: normal;
	margin: 0 0 30px;
}
.search-form .form-control {
	border: 1px solid #eaeaea;
	border-radius: 0;
	border-right: 0;
	box-shadow: inherit;
	height: 40px;
	color: #ababab;
}
.search-form .btn-primary {
	background-color: transparent;
	border-color: #eaeaea;
	border-left: none;
	color: #999;
	height: 40px;
	border-radius: 0;
}
.latest-posts {
	margin: 0;
	padding: 0;
}
.latest-posts li {
	display: table;
	width: 100%;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.latest-posts li:last-child {
	padding-bottom: 0px;
	margin-bottom: 0px;
	border-bottom: none;
}
.post-thumb {
	width: 80px;
	float: left;
	overflow: hidden;
}
.post-thumb a img {
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.post-thumb a:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.post-info {
	margin-left: 95px;
}
.post-info h4 {
	font-size: 14px;
	font-weight: normal;
	line-height: 18px;
	margin: 0 0 10px;
}
.post-info h4 a {
	color: #666;
}
.post-info p {
	color: #909090;
	font-size: 12px;
	margin: 0;
}
.post-info p i {
	color: #3AAFA9;
	font-size: 14px;
	margin-right: 4px;
}
.categories {
	list-style: none;
	margin: 0;
	padding: 0;
}
.categories li:first-child{
	margin-top: 15px;
}
.categories li {
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 12px;
    padding: 0 0 12px;
}
.categories li:last-child {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.categories li a {
	color: #666;
	font-size: 14px;
}
.categories li a:hover {
	color: #3AAFA9;
}
.categories > li > a > i {
	color: #3AAFA9;
	font-size: 18px;
	margin-right: 10px;
}
.tags {
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
.tags li {
	float: left;
}
.tag {
	background-color: #eee;
	border-radius: 3px 0 0 3px;
	color: #999;
	display: inline-block;
	height: 26px;
	line-height: 26px;
	padding: 0 20px 0 23px;
	position: relative;
	margin: 0 10px 10px 0;
	text-decoration: none;
	-moz-transition: color 0.2s;
	-ms-transition: color 0.2s;
	-o-transition: color 0.2s;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
	font-size: 12px;
}
.tag:before {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
	content: '';
	height: 6px;
	left: 10px;
	position: absolute;
	width: 6px;
	top: 10px;
}
.tag:after {
	background-color: #fff;
	border-bottom: 13px solid transparent;
	border-left: 10px solid #eee;
	border-top: 13px solid transparent;
	content: '';
	position: absolute;
	right: 0;
	top: 0;
}
.tag:hover {
	background-color: #3AAFA9;
	color: white;
}
.tag:hover:after {
	border-left-color: #3AAFA9;
}
.comment-by {
	display: block;
	font-size: 14px;
	line-height: 21px;
	margin: 0 0 10px;
}
.comments-list .comment-block p {
	font-size: 13px;
	line-height: 20px;
	margin: 0;
}

/*-----------------
	14. Blog View
-----------------------*/

.blog.blog-single-post {
	margin-bottom: 50px;
}
.blog-view .widget:last-child {
	margin-bottom: 0;
}
.blog-view .blog-title {
	color: #333;
	font-size: 24px;
}
.blog-content p:last-child {
	margin-bottom: 0;
}
.blog-view .blog-info {
	border: 0 none;
	margin-bottom: 20px;
	padding: 0;
}
.social-share {
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
}
.social-share > li {
	display: inline-block;
	float: left;
	margin-left: 10px;
	text-align: center;
}
.social-share > li:first-child {
	margin-left: 0;
}
.social-share > li > a {
	border: 1px solid #dfdfdf;
	color: #666;
	display: inline-block;
	font-size: 22px;
	height: 40px;
	line-height: 40px;
	width: 40px;
}
.social-share > li > a:hover {
	background-color: #3AAFA9;
	color: #fff;
	border-color: #3AAFA9;
}
.widget h3 {
	color: #333;
	font-size: 20px;
	margin: 0 0 30px;
}
.blog-reply > a {
	color: #999;
	font-size: 12px;
	font-weight: 500;
}
.blog-date {
	color: #999;
	font-size: 12px;
}
.comments-list {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}
.comments-list li {
	clear: both;
	padding: 10px 0 0 88px;
}
.comments-list li .comment {
	margin-bottom: 20px;
}
.comments-list > li:last-child .comment {
	margin-bottom: 0;
}
.comments-list li .comment-author {
	left: 0;
	position: absolute;
}
.comments-list li img.avatar {
	height: 58px;
	width: 58px;
	border-radius: 58px;
}
.blog-author-name {
	color: #333;
	font-size: 18px;
}
.text-red {
	color: #f00;
}
.new-comment label {
	font-size: 14px;
	font-weight: 500;
}
.new-comment input.form-control {
	border: 1px solid #eaeaea;
	border-radius: 0;
	box-shadow: inherit;
	height: 40px;
}
.new-comment textarea.form-control {
	border: 1px solid #eaeaea;
	border-radius: 0;
	box-shadow: inherit;
}
.new-comment .form-group {
	margin-bottom: 20px;
}
.comment-submit .btn {
	background-color: #3AAFA9;
	border-color: #3AAFA9;
	border-radius: 0;
	font-size: 18px;
	padding: 8px 26px;
	color: #fff;
}
.about-author-img {
	background-color: #fff;
	height: 80px;
	overflow: hidden;
	position: absolute;
	width: 80px;
}
.author-details {
	margin-left: 100px;
}
.about-author {
	min-height: 100px;
}
.author-details .blog-author-name {
	display: inline-block;
	margin-bottom: 10px;
}

/*-----------------
	15. Grid Blog
-----------------------*/

.grid-blog .blog-title {
	font-size: 16px;
	margin: 0 0 5px;
}
.grid-blog .blog-content p {
	font-size: 13px;
	margin: 0 0 15px;
}
.grid-blog .blog-info {
	margin-bottom: 15px;
}
.grid-blog .blog-image {
	margin-bottom: 20px;
}
.grid-blog .read-more {
	font-size: 13px;
}

/*-----------------
	16. Services
-----------------------*/

.service-list {
	padding: 80px 0 20px;
}
.services-box {
    margin-bottom: 60px;
    padding: 0 10px;
    text-align: center;
}
.service-icon {
	margin-bottom: 30px;
}
.services-box > a {
	display: inline-block;
}
.services-box i {
	font-size: 34px;
	color: #666;
	width: 80px;
	height: 80px;
	background-color: #f6f6f6;
	line-height: 80px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #efefef;
}
.other-services .services-box i {
	background-color: #fff;
}
.services-box h4 {
	color: #333;
	font-weight: normal;
	margin: 0 0 20px;
}
.other-services {
	background-color: #f9f9f9;
	padding: 80px 0 20px;
}
.services-box p {
	font-size: 14px;
	margin: 0;
}
.sidebar-right .widget:last-child {
	margin-bottom: 0;
}
.service-content p:last-child {
	margin-bottom: 0;
}

/*-----------------
	17. Service Details
-----------------------*/

.service-view {
	position: relative;
}
.service-image {
	overflow: hidden;
}
.service-image,
.service-image img {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
}
.service-image img {
	-moz-transform: scaleY(1);
	-webkit-transform: scaleY(1);
	-o-transform: scaleY(1);
	-ms-transform: scaleY(1);
	transform: scaleY(1);
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}
.service-image:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.service-image {
	margin-bottom: 30px;
}
.service-content {
	position: relative;
}
.service-title {
	color: #000;
	font-weight: normal;
	margin: 0 0 20px;
}
.service-content p {
	font-size: 14px;
	margin: 0 0 20px;
}
.service-view .service-title {
	color: #3AAFA9;
	font-size: 32px;
}
.contact-widget {
	border: 1px solid #eaeaea;
	padding: 30px;
	text-align: center;
}
.contact-widget h3 {
    color: #333;
    font-weight: 500;
    margin: 0 0 25px;
}
.contact-widget p {
	font-size: 14px;
	margin-bottom: 30px;
}
.contact-phone {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: 600;
	color: #3AAFA9;
}
.contact-info {
	display: block;
	font-size: 11px;
	color: #bbb;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.contact-widget .btn {
	border-radius: 0;
	padding: 8px 20px;
	font-size: 16px;
}
.list-square {
	list-style: none;
	padding: 0;
}
.list-square li {
	line-height: 24px;
	list-style: none;
	margin: 10px 0 0 20px;
	position: relative;
}
.list-square li:first-child {
	margin-top: 0
}
.list-square li:before {
	font-family: fontawesome;
	margin: 0;
	position: relative;
	color: #3AAFA9;
	float: left;
	margin-left: -20px;
	display: block;
	content: "\f0c8";
	font-size: 8px
}

/*-----------------
	18. Contact Us
-----------------------*/

.contact-address {
	margin-bottom: 20px;
}
.contact-address a {
	color: #777;
}
.working-hours {
	border: 1px solid #eaeaea;
	padding: 30px;
	text-align: center;
	width: 100%;
}
.working-hours ul {
	margin: 0;
	padding-left: 0;
}
.working-hours ul li {
	display: inline-block;
	margin-bottom: 10px;
	width: 100%;
}
.working-hours ul li:last-child {
	margin-bottom: 0;
}
.working-hours ul li > span {
	float: left;
	font-size: 15px;
}
.working-hours ul li > b {
	color: #999;
	float: right;
	font-size: 14px;
	font-weight: normal;
}
.working-hours h3 {
    font-size: 18px;
    margin: 0 0 25px;
}
.map-frame iframe {
	width: 100%;
	border: 0;
}

/*-----------------
	19. 404 Error
-----------------------*/

.error-box {
	background-color: #fff;
	border-radius: 5px;
	line-height: 1;
	margin: 0 auto;
	max-width: 400px;
	text-align: center;
	width: 100%;
}
.error-heading {
	font-size: 3.5em;
	font-weight: bold;
}
.error-title {
	color: #2c2c2c;
	font-size: 22px;
	font-weight: normal;
	margin: 0 0 1.5rem;
}
.error-wrapper {
	background-color: #fff;
	margin: 0;
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
}
.error-box h1 {
    font-size: 150px;
    line-height: 120px;
    margin-bottom: 30px;
}
.error-box p {
	color: #666;
	margin-bottom: 30px;
}
.search-error {
	margin-bottom: 30px;
}
.error-box .error-btn .btn {
	border-radius: 50px;
	padding: 10px 20px;
	text-transform: uppercase;
}
.error-search-form {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 100%;
}
.error-search-form input {
	background: #f8f8f8;
	border: 1px solid #e9e9e9;
	border-radius: 30px;
	color: #666;
	float: left;
	font-size: 14px;
	height: 45px;
	padding: 0 50px 0 20px;
	width: 100%;
}
.error-search-form button {
	background: none;
	border: none;
	color: #666;
	font-size: 18px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 50px;
}
.error-search-form button:hover {
	color: #3AAFA9;
}

/*-----------------
	20. Responsive
-----------------------*/

@media (max-width: 1199px) {
	.main-nav.nav > li > a {
		font-size: 13px;
		padding: 5px 12px;
	}
	.main-nav > li > a.appoint-btn {
		margin-top: 0;
		padding: 4px 12px;
	}
	.main-nav > li > a.settings-icon {
		font-size: 22px;
	}
	.logo img {
		height: 45px;
	}
	.social-icons > li {
		margin-right: 8px;
	}
	.social-icons > li > a {
		font-size: 18px;
		height: 34px;
		line-height: 34px;
		width: 34px;
	}
	.home-banner h1 {
		font-size: 32px;
	}
}

@media (max-width: 991px) {
	.header .logo-container {
		display: none;
	}
	.mobile-header {
		display: block;
	}
	.sidebar {
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		display: block;
	}
	.menu-open .sidebar {
		margin-left: 0;
	}
	body.menu-open {
		overflow: hidden;
	}
	.main-content {
		padding-top: 60px;
	}
	.home-banner {
		height: 60vh;
	}
	.working-hours h3 {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.working-hours {
		padding: 15px;
	}
	.working-hours ul li > b {
		float: left;
		text-align: left;
		width: 100%;
	}
	.contact-widget {
		padding: 15px;
	}
	.contact-phone {
		font-size: 18px;
	}
	.contact-widget h5 {
		font-size: 15px;
	}
	.contact-widget h3 {
		font-size: 16px;
		margin-bottom: 20px;
	}
	.contact-widget p {
		margin-bottom: 20px;
	}
	.contact-widget .btn {
		display: block;
	}
	.services-box h4 {
		font-size: 16px;
	}
	.footer-top .row {
		margin-left: -8px;
		margin-right: -8px;
	}
	.footer-top .row > div {
		padding-left: 8px;
		padding-right: 8px;
	}
	.social-icons > li {
		margin-right: 4px;
	}
	.social-icons > li > a {
		font-size: 16px;
		height: 30px;
		line-height: 30px;
		width: 30px;
	}
}

@media (max-width: 767px) {
	.working-hours ul li > b {
		float: right;
		text-align: right;
		width: auto;
	}
	.contact-left .working-hours {
		margin-bottom: 30px;
	}
	.account-content {
		min-height: inherit;
	}
	body {
		font-size: 12px;
	}
	.btn {
		font-size: 13px;
	}
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1.5em;
	}
	h3 {
		font-size: 1.17em;
	}
	h4 {
		font-size: 1.12em;
	}
	h5 {
		font-size: .83em;
	}
	h6 {
		font-size: .75em;
	}
	.footer-widget {
		margin-bottom: 20px;
	}
	.error-box {
		padding: 30px 0;
	}
	.error-box h1 {
		font-size: 85px;
		line-height: 80px;
		margin-bottom: 15px;
	}
	.about-det {
		margin-bottom: 20px;
	}
	.our-mission > .row > .col-sm-4:last-child .about-det {
		margin-bottom: 0;
	}
	.about-det h4 {
		margin: 0 0 10px;
	}
	.testimonial-list > h3,
	.copy-text > p,
	.contact-widget p,
	.categories li a,
	.working-hours ul li > span,
	.service-content p,
	.services-box p,
	.blog-content p,
	.read-more,
	.account-box label,
	.account-box .form-control,
	.account-box a,
	.account-box .more-btn {
		font-size: 13px;
	}
	.section-header .header-title,
	.widget h3,
	.sub-title {
		font-size: 18px;
	}
	.see-all-btn,
	.load-more,
	.consult-btn,
	.contact-widget .btn,
	.company-name,
	.account-box .account-btn {
		font-size: 14px;
	}
	.home-banner h1 {
		font-size: 32px;
		margin-bottom: 20px;
	}
	.home-banner p,
	.appointment .nav-tabs > li > a span {
		font-size: 14px;
	}
	.about-clinic > p,
	.footer-menu > li > a,
	.working-hours ul li > b {
		font-size: 12px;
	}
	.home-banner {
		height: 350px;
		padding: 20px 0;
		text-align: center;
	}
	.blog-author-name {
		font-size: 16px;
	}
	.contact-phone {
		font-size: 20px;
	}
	.services-box h4 {
		margin-bottom: 10px;
	}
	.services-box i {
		font-size: 28px;
	}
	.section-header {
		margin-bottom: 20px;
	}
	.experience-list > li .timeline-content > h4 {
		font-size: 14px;
	}
	.blog-view .blog-title {
		font-size: 20px;
		margin-bottom: 10px;
	}
	.appoint-time > li {
		font-size: 13px;
		min-height: 40px;
		padding: 10px 15px;
		width: 49%;
	}
	.appointment .select2-container--default .select2-selection--single .select2-selection__rendered {
		font-size: 13px;
	}
	.account-title {
		margin-bottom: 20px;
	}
	.account-title h3 {
		font-size: 16px;
	}
	.footer-top .row > .col-md-3 {
		float: left;
		width: 50%;
	}
	.about-clinic > p {
		line-height: 16px;
	}
	.footer-top .row > .col-md-3.col-sm-12 {
		margin-top: 0;
	}
	.footer-top .row > .col-md-3:last-child .footer-widget {
		margin-bottom: 0;
	}
	.footer-top .row > .col-md-3:nth-child(3) .footer-widget {
		margin-bottom: 0;
	}
	.testimonial-list > h3 {
		max-width: 320px;
	}
	.dept-box {
		margin-bottom: 30px
	}
	.row.service-row > .col-sm-4:last-child .services-box {
		margin-bottom: 0;
	}
	.sidebar-right {
		margin-top: 30px;
	}
	.doctor-list.doctor-view {
		margin-bottom: 30px;
	}
	.blog-title {
		font-size: 18px;
	}
	.blog {
		margin-bottom: 30px;
	}
	.departments .row > .col-sm-4 {
		float: left;
		width: 50%;
	}
	.row.department-row > .col-sm-4 {
		float: left;
		width: 50%;
	}
	.row.service-row > .col-sm-4 {
		float: left;
		width: 50%;
	}
	.features .row > .col-sm-4 {
		float: left;
		width: 33.3333%;
	}
	.feature-box h4 {
		font-size: 13px;
	}
	.services-box {
		margin-bottom: 30px;
	}
	.appointment-btn p {
		font-size: 12px;
	}
	.row.blog-grid-row > .col-md-4.col-sm-6 {
		float: left;
		width: 50%;
	}
	.widget {
		margin-bottom: 30px;
	}
	.blog.blog-single-post {
		margin-bottom: 30px;
	}
	.section-header p {
		max-width:100%;
	}
	.content {
		padding: 30px 0;
	}
	.section {
		padding: 30px 0;
	}
	.footer-top {
		padding: 30px 0;
	}
	.meet-doctors .owl-theme .owl-controls {
		margin-bottom: 30px;
	}
	.other-services {
		padding: 30px 0;
	}
}

@media (max-width: 479px) {
	.account-box {
		width: 100%;
	}
	.doctors-list > .col-xs-6 {
		width: 100%;
	}
	.appoint-time > li {
		width: 100%;
	}
	.footer-top .row > .col-md-3 {
		float: none;
		width: 100%;
	}
	.footer-top .row > .col-md-3:nth-child(3) .footer-widget {
		margin-bottom: 20px;
	}
	.post-right {
		float: left;
	}
	.testimonials .owl-theme .owl-controls .owl-nav {
		display: none;
	}
	.departments .row > .col-sm-4 {
		float: none;
		width: 100%;
	}
	.row.department-row > .col-sm-4 {
		float: none;
		width: 100%;
	}
	.row.service-row > .col-sm-4 {
		float: none;
		width: 100%;
	}
	.features .row > .col-sm-4 {
		float: none;
		width: 100%;
		margin-bottom: 20px;
	}
	.features .row > .col-sm-4:last-child {
		margin-bottom: 0;
	}
	.blog-info i {
		font-size: 14px;
	}
	.blog-info {
		padding: 12px 15px;
	}
	.post-left ul li {
		margin-right: 10px;
	}
	.post-left ul li:last-child {
		margin-right: 10px;
	}
	.row.blog-grid-row > .col-md-4.col-sm-6 {
		float: none;
		width: 100%;
	}
	.footer-top {
		text-align: center;	
	}
	.social-icons > li {
		float: none;
	}
	#our_doctor.owl-carousel, #testimonial_slider.owl-carousel {
		padding: 0;
	}
	#our_doctor.owl-carousel .owl-nav, #testimonial_slider.owl-carousel .owl-nav {
		display: none;
	}
	.comments-list li img.avatar {
		border-radius: 40px;
		height: 40px;
		width: 40px;
	}
	.comments-list li {
		padding: 10px 0 0 50px;
	}
}